In [33]:
def function1():
    print("Function print")
    print("The second text")
print("After function")

After function

In [34]:
function1()

Function print
The second text

In [35]:
def function2(x):
    return 2*x

In [36]:
a = function2(5)
print(a)

10

In [37]:
function2(100)

200

In [38]:
print(function2(0))

0

In [39]:
def sum_of(x, y):
    return x + y

In [40]:
e = sum_of(19989, 57441)
print(e)

77430

In [41]:
def function4(argument):
    print(argument)
    print("test")

In [42]:
function4(5)

5
test

In [43]:
a = function4(5)

5
test

In [44]:
a

In [45]:
def function5():
    return 5

In [46]:
function5()

5

In [47]:
a = function4(123)
print(a)

123
test
None

In [48]:
def function7(x):
    print(x)
    print("123eerews")
    return x*3

a = function7(10)
print(a)

10
123eerews
30

In [49]:
person1 = "Alex"
height1 = 1.77
weight1 = 90

person2 = "Olena"
height2 = 1.50
weight2 = 45

person3 = "Nikita"
height3 = 1.90
weight3 = 88

In [50]:
def bmi_calc(name, height, weight):

    bmi = weight / (height ** 2)

    print("BMI = " + str(bmi))

    if bmi < 25:
        return name + " is not fat"
    else:
        return name + " is fat"

In [51]:
bmi1 = bmi_calc(person1, height1, weight1)
bmi2 = bmi_calc(person2, height2, weight2)
bmi3 = bmi_calc(person3, height3, weight3)

BMI = 28.72737719046251
BMI = 20.0
BMI = 24.37673130193906

In [52]:
print(bmi1)

Alex is fat

In [53]:
print(bmi2)

Olena is not fat

In [54]:
print(bmi3)

Nikita is not fat

In [79]:
def ml_to_km(miles):

    return miles * 1.609

    print(str(miles) + " miles = " + str(km) + " kilometers")

In [80]:
ml_to_km(100)

160.9

In [81]:
miles1 = 1957
miles2 = 400
miles3 = 0.4

In [82]:
ml_to_km1 = ml_to_km(miles1)

In [83]:
ml_to_km2 = ml_to_km(miles2)

In [84]:
ml_to_km3 = ml_to_km(miles3)

In [63]:
def triangle_area(a, b):
    area = 0.5 * a * b

    print("Triangle area = " + str(area))

In [64]:
a1 = 4
b1 = 17

a2 = 4345456
b2 = 0.8

In [65]:
area1 = triangle_area(a1, b1)

Triangle area = 34.0

In [66]:
area2 = triangle_area(a2, b2)

Triangle area = 1738182.4000000001

In [73]:
def even_number(a):
    if a%2 == 0:
        print (str(a) + " is even")
    else:
        print (str(a) + " is not even")

In [74]:
even_number(4)

4 is even

In [75]:
a1 = 5
a2 = 7
a3 = 0
a4 = 8

In [76]:
decision1 = even_number(a1)

5 is not even

In [77]:
decision2 = even_number(a4)

8 is even

In [78]:
decision3 = even_number(a3)

0 is even