In [1]:
a = ["one", "two", "three"]
print(a[0])
print(a[1])
print(a[2])

one
two
three

In [2]:
#print all elements of the list
for element in a:
    print(element)

one
two
three

In [5]:
b = [20, 30, 40, 50, 60]
for num in b:
    print(num)
    print(num) #every element prints twice

20
20
30
30
40
40
50
50
60
60

In [6]:
#count the sum
sum = 0
for e in b:
    sum = sum + e

print(sum)

200

In [7]:
range(1, 5)

range(1, 5)

In [8]:
#the numbers from the 1st to the latest, the latest is not included
print(list(range(1, 5)))

[1, 2, 3, 4]

In [10]:
for i in range(1, 5):
    print(i)

1
2
3
4

In [15]:
sum2 = 0
for i in range(1, 5):
    sum2 = sum2 + i
    #sum += i --the string before
print(sum2)

10

In [16]:
print(list(range(1, 100)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [17]:
#Ð½#find numbers from 1 to 100
for i in range(1, 100):
    if i % 3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [19]:
#find numbers from 1 to 100, which can be divided to 3 and print sum
sum3 = 0
for i in range(1, 100):
    if i % 3 == 0:
        sum3 = sum3 + i
print(sum3)

1683

In [21]:
#find numbers from 1 to 100, which can be divided to 3 or 5 and print sum
sum4 = 0
for i in range(1, 100):
    if i % 3 == 0 or i % 5 == 0:
        sum4 = sum4 + i
print(sum4)

2318

In [45]:
# n > 20 => 0
# n <= 20 => from 1 to n ** k and print sum

def numbers(n, k):
    if n > 20:
        return(0)

    sum5 = 0
    for i in range(1, n):
        q = 0
        q = i ** k
        sum5 = sum5 + q
    print(sum5)

In [48]:
a = numbers(3, 2)

1.25

In [38]:
sum5 = 0
for i in range(1, 5):
    q = 0
    q = i ** 2
    sum5 = sum5 + q
    print(q)
print(sum5)

1
4
9
16
30